@import 'src/_variables.scss';

.form-body {
  background:white;
  border-radius: 20px 20px 0 0;
  box-shadow: 0 4px 6px rgba($color: #000000, $alpha: 0.25);

  .btn {
    background-color: $brand1;
    color: white;
    padding: 1rem;
  }

  a {
    color: $black;
  }
  .form-group, .input-group {
    border-bottom: 1px solid $black;
    margin-bottom: 2rem;
    .invalid {
      color: #E7A7A7;
    }
  }

  .form-check {
    margin-bottom: 2rem;
    label {
      color: $black;
    }
    .invalid {
      color: #E7A7A7;
      a {
        color: #E7A7A7;
      }
    }
  }

  .form-check-input:checked {
    background-color: white;
    border-color: black;
  }

  .form-check-input:checked[type=checkbox] {
    background-image: url('/assets/check2.svg');
 }

  .form-control {
    border-radius: 0;
    border: 0;
  }
}

.hiddenbtn {
  display: none;
}

.status-alert {
  background-color: white;
  color: $brand1;
  margin: 0;
  padding: 2rem 0;
  text-align: center;
}

.invalid::placeholder {
  color: #E7A7A7;
}


