@import 'src/_variables.scss';

.form-body {
  background:white;
  border-radius: 20px 20px 0 0;
  box-shadow: 0 4px 6px rgba($color: #000000, $alpha: 0.25);
  min-height: 60vh;

  .btn {
    background-color: $brand1;
    color: white;
    padding: 1rem;
  }

  a {
    color: $black;
  }
  .form-group, .input-group {
    border-bottom: 1px solid $black;
    margin-bottom: 2rem;
  }
}

.form-control {
  border-radius: 0;
  border: 0;
}

.status-alert {
  background-color: white;
  color: $brand1;
  margin: 0;
  padding: 2rem 0;
  text-align: center;
}
