@import 'src/_variables.scss';

.btn {
  background-color: $brand2;
  border-color: $brand2;
  color: white;
}

.form-control {
  border: 1px solid $brand2;
  background-color: $brand4;
}

::placeholder {
  color: black;
  font-size: 11px;
}

textarea {
  resize: none;
  height: 8rem;
}

.sent {
  color: $brand1;
  padding: 0 0.5rem;
}
