<div class="vendor-headers">

  <h3>Totals</h3>
  <h2>Sales: ${{sales | sum:'amount'}} | Tickets: {{sales | sum:'tickets'}}</h2>
</div>

<div class="sales-table p-3">

  <table class="table">
    <thead>
      <tr>
        <th class=" col-6 text-start">Name</th>
        <th class="col-3">Sales</th>
        <th class="col-3">Tickets</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let sale of sales" >
        <td class="col-6 text-start">
          <h5>{{sale.user.fullname}}</h5>
          <p>{{sale.user.phone}}</p>
        </td>

        <td>
          <h5>${{sale.amount}}</h5>
        </td>
        <td>
          <h5>{{sale.tickets}}</h5>
        </td>
      </tr>
    </tbody>
    <tfoot></tfoot>
  </table>

</div>
