<div class="sales-table p-3">

  <table class="table">
    <thead>
      <tr>
        <th class=" col-6 text-start">Name</th>
        <th class="col-3">Sales</th>
        <th class="col-3">Tickets</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="col-6 text-start">
          <h5>Mark Ohai</h5>
          <p>555-555-0000</p>
        </td>
        <td>
          <h5>$37.42</h5>
        </td>
        <td>
          <h5>3</h5>
        </td>
      </tr>
      <tr>
        <td class="text-start">
          <h5>Mark Ohai</h5>
          <p>555-555-0000</p>
        </td>
        <td>
          <h5>$37.42</h5>
        </td>
        <td>
          <h5>3</h5>
        </td>
      </tr>    <tr>
        <td class="text-start">
          <h5>Mark Ohai</h5>
          <p>555-555-0000</p>
        </td>
        <td>
          <h5>$37.42</h5>
        </td>
        <td>
          <h5>3</h5>
        </td>
      </tr>
    </tbody>
    <tfoot></tfoot>
  </table>

</div>
