
<div class="vendor-headers">

  <h3>Totals</h3>
  <h2>Sales: ${{sales | sum:'amount'}} | Tickets: {{sales | sum:'tickets'}}</h2>
</div>

<div class="winners-table p-3">
  <div *ngIf="admin" class="admin-nav">
    <a href="/admin/{{admin.id}}">Sales</a> <a href="/admin/{{admin.id}}/raffle" class="active">Winners</a>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th class=" col-9 text-start">Name</th>
        <th class="col-3 text-end">Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let winner of winners">
        <td class="col-6 text-start">
          <h5>{{winner.fullname}}</h5>
          <p>{{winner.phone}}</p>
        </td>
        <td>
          <h5>{{winner.created_at | date: 'MM/dd/yyyy'}}</h5>
        </td>
        <td class="trash">
         <img (click)="confirmDelete(winner.id)" src="assets/trash3.svg" alt="trash icon" class="trash-icon"></td>
      </tr>
    </tbody>
    <tfoot></tfoot>
  </table>

</div>

<ng-template #confirm>
  <div class="confirm-delete">
    <div class="d-flex flex-column confirm-box">
      <div>
        <h2 class="">Remove winner?</h2>

      </div>
      <div>
        <button id="confirmBtn" class="btn btn-conf" (click)="deleteWinner(id)">CONFIRM</button>
        <button id="cancelBtn" class="btn btn-canc" (click)="closeConfirm()">CANCEL</button>
      </div>
    </div>

  </div>
</ng-template>
