@import 'src/_variables.scss';

.winners-table {
  background-color: $brand4;
  border-radius: 8px;
  min-height: 50vh;
  max-height: 60vh;
  overflow-y: scroll;
  th {
    color: $brand1;
    border: none;
    font-size: 12px;
  }
  tr {
    border-bottom: 1px solid #838383;
  }
  tfoot {
    height: 3rem;
  }
  h5 {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    color: black;
  }

  p {
    margin: 0;
    font-size: 9px;
    color: #656565;
  }

}


.vendor-headers {
  padding: 2rem 0;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 20px;
}

.admin-nav {
  a {
    color: black;
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    padding: 1rem;
  }
  a.active {
    font-weight: 600;
    text-decoration: underline;
  }
}
.trash {
  background: #b8b8b8;
  width: 100px;
}

.trash-icon {
  filter: invert(1);
}

.confirm-delete {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  margin: auto;
  text-align: center;
  background: rgba(0,0,0,.5);

  .confirm-box {
    padding: 2rem;
    border-radius: 20px;
    background: white;
    min-width: 50%;
    min-height: 25vh;
    justify-content: end;

    .btn {
      margin: 1rem;
    }
    .btn-conf {
      color: $brand2;
    }
    .btn-canc {
      color: grey;
    }
  }
}
