.modal-content {
  box-shadow: 0 4px 4px rgba($color: #000000, $alpha: 0.25);
}

.modal-header {
  border-bottom: none;
  .btn-close {
    opacity: 1;
  }
}

.modal-body {
  text-align: center;
  padding: 0;

  h1 {
    margin: 0.5rem auto 1rem auto;
  }

  p {
    padding: 0 1rem;
    font-size: 14px;
    line-height: 1rem;
  }
}

.logo {
  height: 93px;
  width: 90px;
}

.modal-footer {
  border: 0;
}
