@import 'src/_variables.scss';

.bg {
  height: auto;
  width: auto;
  background-image: url('/assets/photos/event_bg2.jpeg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
}

.event-deco {
  height: 167px;
  width: 165px;
  margin-top: 2rem;
}

.title-text {
  padding: 2rem 0;
  text-align: center;
  color: white;
  h1 {
    font-size: 26px;
  }
  .info-holder {
    padding: .25em;
    p {
      font-size: 16px;
      line-height: 18px;
      margin: 0;
    }
  }
}
