@import 'src/_variables.scss';

.bg {
  height: auto;
  width: auto;
  background-image: url('/assets/photos/event_bg1.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.event-deco {
  height: 167px;
  width: 165px;
  margin-top: 2rem;
}

.title-text {
  padding: 2rem 0;
  h1 {
    color: white;
    text-align: center;
    font-size: 26px;
  }
}
