@import 'src/_variables.scss';

.dash-body {
  background:white;
  border-radius: 20px 20px 0 0;
  box-shadow: 0 4px 6px rgba($color: #000000, $alpha: 0.25);
  min-height: 60vh;
  text-align: center;

  .btn {
    background-color: $brand1;
    color: white;
    padding: 1rem;
  }

  .vendor-headers {
    padding: 2rem 0;
  }

  h2 {
    font-size: 25px;
    font-weight: 800;
  }

  h3 {
    font-size: 20px;
    font-weight: 600;
  }
}

.modal-content {
  box-shadow: 0 4px 4px rgba($color: #000000, $alpha: 0.25);
}

.modal-header {
  border-bottom: none;
  .btn-close {
    opacity: 1;
  }
}

.modal-body {
  text-align: center;
  padding: 0;

  h1 {
    margin: 0.5rem auto 1rem auto;
  }

  p {
    padding: 0 1rem;
    font-size: 14px;
    line-height: 1rem;
  }
}

.logo {
  height: 93px;
  width: 90px;
}

.modal-footer {
  border: 0;
}

.hiddenbtn {
  display: none;
}

.drumroll {
  overflow: hidden;
  padding: 4rem 2rem;
  margin: 0;
  background-image: url('/assets/photos/IMG_4116 1.png');
  background-position: top;
  background-size: cover;
  position: fixed;
  height: 100%;
  width: 100%;
  max-width: 500px;
  text-align: center;
  color: white;
  h1 {
    font-size: 22px;
    margin-bottom: 2rem;
  }
  .logo {
    // padding: 2rem 0;
    height: 266px;
    width: 265px;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin {
    100% { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform:rotate(360deg);
    }
}
}
