<div *ngIf="vendor" class="dash-body p-4">
  <a href="/scanner/{{vendor.id}}" class="btn col-12" type="button">Add sale</a>


  <app-sales-list [vendor]="vendor"></app-sales-list>
</div>

<div *ngIf="admin" class="dash-body p-4">

    <div id="winnerModal" class="modal" tabindex="-1">
      <div class="modal-dialog p-4">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <img class="logo" src="/assets/OSF_simplified_logo_black.png" alt="Old Sol Fiesta Logo">
              <p>Congratulations:</p>
              <h1 class="modal-title fs-5">{{user?.fullname}}!</h1>
          </div>
          <div class="modal-footer"></div>
        </div>
      </div>
    </div>


  <button #winnerBtn data-bs-toggle="modal" data-bs-target="#winnerModal" class="hiddenbtn">Test Modal</button>

  <button class="btn col-12" (click)="getAllTickets()">Generate winner</button>
  <app-sales-list [admin]="admin"></app-sales-list>
  <app-winners-list [winners]="winners"></app-winners-list>

</div>
