$brand1: #6B2820;
$brand2: #902D1E;
$brand3: #B96645;
$brand4: #F6E8D8;

$black: #151515;

$bg1: rgba(71, 37, 22, 0.5); // bg color under image
$bg2: rgba(0, 0, 0, 0.64); // underlay for popup confirmations
