<div class="bg d-flex flex-column justify-content-between">
  <div class="has-nav d-flex flex-column justify-content-center">
    <a href="/home" class="nav-link"></a>

    <div *ngIf="user" class="title-text">
      <div class="d-flex justify-content-center">
        <img src="/assets/fish_scales_white_line_graphic.png" alt="decorative element" class="vendor-deco">
      </div>
      <!-- TODO: add {{name}} -->
      <h1>{{user.fullname}}</h1>
      <p>{{user.phone}}</p>
    </div>
  </div>

  <app-add-sale-form [user_id]="user_id" [vendor_id]="vendor_id"></app-add-sale-form>

</div>
